.custom_card {
    height: 7rem;
    cursor: pointer;
}

.selected_card {
    color: #ce6606 !important;
    transition: 0.5s;
    box-shadow: 0px 10px 50px rgb(0 0 0 / 0.2);
}

.custom_card_text {
    font-size: 0.82rem;
}
