.custom_card {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.img_card {
    width: 5rem;
}
.custom_card:hover {
    transition: all ease-in-out 0.5s;
    box-shadow: 0px 10px 50px rgb(0 0 0 / 0.2);
}
